<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>267767992997-0rgfi1no4vr5j2oehhsai3384hbf7blq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267767992997-0rgfi1no4vr5j2oehhsai3384hbf7blq</string>
	<key>API_KEY</key>
	<string>AIzaSyAa7NPhi2p7nlF11P0YGaqocLhRiXP1uro</string>
	<key>GCM_SENDER_ID</key>
	<string>267767992997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Cruzy.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-2b835</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-2b835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:267767992997:ios:7b264003b790e4e7</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-2b835.firebaseio.com</string>
</dict>
</plist>
